<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Donar Details</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}">
    <script src="{% static 'main.js' %}"></script>
    
</head>

<body style="background-color: #cfe4f7;">
    <div class="card-header custom-smile-form-header">
    <h1 class="modal-title" style="color: black;">Donar Details </h1>
    </div>

    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid d-flex justify-content-end"> <!-- Flex container with justify-content-end -->
          <form>
            {% if request.user.is_authenticated %}
              <a href="/logout/" class="btn btn-outline-success" type="submit">Logout</a>
              {% else %}
              <a href="/login/" class="btn btn-outline-success" type="submit">Login</a>
              {% endif %}
          </form>
      </div>
  </nav>
  

    <div class="card shadow mb-4 mt-2 border-left-danger">

      

      


    <div class="card-body">

      <form>
        <div class="col-sm-12 col-md-6  mb-3 mb-sm-0">
          <label for="name" class="form-label">Search Donar </label>
          <input  name="search"  class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mx-2 mt-2 mb-3">Search Donar</button>
        
  
  
        </form>
  
    <div style="overflow: auto">
        <table class="table table-bordered table-striped" id="example1" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Email</th>
              <th>Address</th>
              <th>Photo</th>
              <th>Action</th>

             
            </tr>
          </thead>
          <tbody>
            {% for donar in donar %}
              <tr>
                <td>{{ donar.name }}</td>
                <td>{{ donar.age }}</td>
                <td>{{ donar.email }}</td>
                <td>{{ donar.address }}</td>
                <td><img src="/media/{{ donar.donar_photo }}" style="height: 200px;"></td>
                <td> 
                    <a href="/delete_donar/{{donar.id}}" class="btn btn-danger">Delete</a>
                    <a href="/donar_data-update/{{donar.id}}" class="btn btn-success">Update</a>
                </td>
               
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    </div>
    </div>

    <div class="container mt-5">
        <form class="col-6 mx-auto card-p3 shadow-lg" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Add Donar Details</h2>
            <hr>
            <div class="mb-3">
              <label for="name" class="form-label">Donar Name</label>
              <input type="text" name="name" required class="form-control" id="name">
            </div>
            <div class="mb-3">
              <label for="age" class="form-label">Age</label>
              <input type="text" name="age" required class="form-control" id="age">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" name="email" required class="form-control" id="email">
            </div>
            <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" required name="address"></textarea>
            </div>
            <div class="mb-3">
                <label for="photo" class="form-label">Donar Photo</label>
                <input type="file" name="donar_photo" class="form-control" id="photo">
            </div>
            <div class="text-center">
                

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary mx-2">Add Donar</button>
                <!-- Clear button -->
                <button type="reset" class="btn btn-secondary mx-2">Clear</button>
            </div>
        </form>
    </div>

</body>
</html>
